@charset "utf-8";

$bp: 767px; // SP-PC breakpoint

$font_base_size: 16;

/* color */
$color_primary: #a7dbb3;
$color_primary_light: lighten($color_primary, 8%);
$color_primary_dark: darken($color_primary, 8%);
$color_secondary: #9e7a7a;

// $color_body_bg: linear-gradient(160deg, #edf1c2, #e1efc4, #d6edc6, #cdeac9, $color_primary);
$color_body_bg: #d6edc6;

$color_text: #444;
$color_text_hover: #777;

$color_table_th_bg: $color_primary;
$color_table_border: $color_primary_dark;

$color_button_bg: $color_secondary;
$color_button_bg_hover: lighten($color_button_bg, 8%);
$color_button_shadow: darken($color_button_bg, 8%)
