@charset "utf-8";

/* utility
------------------------------------------ */
@mixin fontsize($size, $base: 10) {
  font-size: $size + px;
  font-size: calc($size / $base) * 1rem;
}
@mixin flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@for $i from 10 through 30 {
  .font_#{$i} {
    @include fontsize($i);
  }
}

.sp_only {
  @media(min-width: ($bp + 1px)) {
    display: none !important;
  }
}
.pc_only {
  @media(max-width: $bp) {
    display: none !important;
  }
}

.i_block {
  display: inline-block;
}
.block {
  display: block;
}
.flex {
  display: flex;
  &.v_center {
    align-items: center;
  }
  &.h_center {
    justify-content: center;
  }
  &.h_end {
    justify-content: flex-end;
  }
  &.gap {
    gap: 20px;
  }
}

.mt0 {
  margin-top: 0 !important;
}
.mb0 {
  margin-bottom: 0 !important;
}

.text_center {
  text-align: center;
}
.text_left {
  text-align: right;
}
.text_right {
  text-align: right;
}
.text_red {
  color: #f00;
}

.border {
  border: 1px solid $color_text;
  padding: 4% 3%;
}

.list_unstyled {
    list-style: none;
    padding: 0;
}
