@charset "utf-8";

@import "settings";
@import "utility";
@import "common";

/* index.blade.php
------------------------------------------ */
body.home {
  .container {
    @media(max-width: $bp) {
      max-width: calc(100% - 40px);
    }
  }
}
.regions_wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 2%;
  dl {
    width: calc(94% / 4);
    dt {
      text-decoration: underline solid $color_text;
      text-decoration-thickness: 1px;
      text-underline-offset: .4em;
    }
    dd {
      ul li:not(:last-child) {
        margin-bottom: .6em;
      }
    }
  }
  ul {
    li {
      position: relative;
      padding-left: 1.3em;
      &::before {
        content: '';
        display: inline-block;
        width: .9em;
        height: .9em;
        background: url('../img/pref_list_icon.png') no-repeat center / contain;
        position: absolute;
        top: .4em;
        left: 0;
        transition: .2s;
      }
      > a {
        display: inline-block;
        position: relative;
        &::after {
          content: '';
          display: inline-block;
          width: 100%;
          height: 1px;
          background: $color_text;
          position: absolute;
          bottom: 0;
          left: 0;
          transform-origin: left center;
          transform: scaleX(0);
          transition: .2s;
        }
        &:hover {
          &::after {
            transform: scaleX(1);
            background: $color_text_hover;
          }
        }
      }
    }
  }
  @media(max-width: $bp) {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
    gap: 30px 20px;
    dl {
      width: calc((100% - 20*2px) / 3);
    }
  }
}

/* show.blade.php
------------------------------------------ */
.kana_columns_wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 2%;
  dl {
    width: calc(94% / 4);
    dt {
      text-decoration: underline solid $color_text;
      text-decoration-thickness: 1px;
      text-underline-offset: .4em;
    }
    dd {
      ul li:not(:last-child) {
        margin-bottom: .6em;
      }
    }
  }
  ul {
    li {
      position: relative;
      padding-left: 1.3em;
      &::before {
        content: '';
        display: inline-block;
        width: .9em;
        height: .9em;
        background: url('../img/mt_list_icon.png') no-repeat center / contain;
        position: absolute;
        top: .4em;
        left: 0;
        transition: .2s;
      }
      > a {
        display: inline-block;
        position: relative;
        &::after {
          content: '';
          display: inline-block;
          width: 100%;
          height: 1px;
          background: $color_text;
          position: absolute;
          bottom: 0;
          left: 0;
          transform-origin: left center;
          transform: scaleX(0);
          transition: .2s;
        }
        &:hover {
          &::after {
            transform: scaleX(1);
            background: $color_text_hover;
          }
        }
      }
    }
  }
  @media(max-width: $bp) {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
    gap: 30px 3%;
    dl {
      width: calc(94% / 3);
      @media(max-width: 480px) {
        width: calc(97% / 2);
      }
    }
  }
}

/* weather.blade.php
------------------------------------------ */
.table_weather {
  width: 100%;
  table-layout: fixed;
  border: 1px solid $color_table_border;
  border-spacing: 0;
  border-radius: 6px;
  overflow: hidden;
  @media(max-width: $bp) {
    max-width: 500px;
    margin: 0 auto;
  }
  th, td {
    vertical-align: middle;
    line-height: 1.4;
    @include fontsize($font_base_size - 2);
    .text_small {
      @include fontsize($font_base_size - 4);
    }
    img {
      width: 100%;
      height: auto;
      max-width: 100px;
      aspect-ratio: 1 / 1;
      object-fit: contain;
    }
    @media(max-width: $bp) {
      @include fontsize($font_base_size - 4);
      .text_small {
        @include fontsize($font_base_size - 6);
      }
    }
  }
  thead {
    th {
      border-bottom: 1px solid $color_table_border;
      background: $color_table_th_bg;
      margin-bottom: 0;
      padding: 10px 5px;
      font-weight: 600;
      letter-spacing: .08em;
      @media(min-width: 375px) {
        @include fontsize($font_base_size);
        .text_small {
          @include fontsize($font_base_size - 2);
        }
      }
    }
  }
  tbody {
    th {
      font-weight: 500;
      background: $color_table_th_bg;
    }
    th, td {
      padding: 7px 5px;
    }
  }

  &.now {
    tbody {
      th, td {
        padding: 0 5px 5px;
        @include fontsize($font_base_size);
        .text_small {
          @include fontsize($font_base_size - 2);
        }
        @media(max-width: $bp) {
          @include fontsize($font_base_size - 2);
          .text_small {
            @include fontsize($font_base_size - 4);
          }
        }
      }
      tr:last-child {
        td {
          padding-bottom: 20px;
        }
      }
    }
  }

  &:not(.now) {
    tbody {
      th, td {
        @media(max-width: $bp) {
          width: 20%;
          &:first-child {
            width: 19%;
          }
          &:nth-child(2) {
            width: 18%;
          }
          &:nth-child(3) {
            width: 23%;
          }
        }
        @media(max-width: 374px) {
          @include fontsize($font_base_size - 4);
          .text_small {
            @include fontsize($font_base_size - 6);
          }
        }
        &:not(:last-child) {
          @media(min-width: ($bp + 1px)) {
            border-right: 1px solid $color_table_border;
          }
        }
      }
      th {
        @media(min-width: ($bp + 1px)) {
          width: 12%;
        }
      }
      td {
        @media(min-width: ($bp + 1px)) {
          width: 11%;
          &.empty {
            background: rgba(#aaa, .2);
          }
        }
      }
      tr {
        @media(min-width: ($bp + 1px)) {
          &:first-child {
            th, td {
              padding-top: 10px;
            }
          }
          &:last-child {
            th, td {
              padding-bottom: 10px;
            }
          }
        }
        @media(max-width: $bp) {
          &:not(:last-child) {
            th, td {
              border-bottom: 1px solid $color_table_border;
            }
          }
        }
      }
    }
  }
}