@charset "utf-8";

@import "settings";
@import "utility";
@import "common";

/* index.blade.php
------------------------------------------ */
.regions_wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 2%;

  dl {
    text-align: center;
    width: calc(94% / 4);

    dt {
      text-decoration: underline solid $color_text;
      text-decoration-thickness: 1px;
      text-underline-offset: .4em;
    }

    dd {
      ul li:not(:last-child) {
        margin-bottom: .5em;
      }
    }
  }

  @media(max-width: $bp) {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
    gap: 20px 3%;

    dl {
      width: calc(94% / 3);
    }
  }
}

/* show.blade.php
------------------------------------------ */
.kana_columns_wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 2%;

  dl {
    text-align: center;
    width: calc(94% / 4);

    dt {
      text-decoration: underline solid $color_text;
      text-decoration-thickness: 1px;
      text-underline-offset: .4em;
    }

    dd {
      ul li:not(:last-child) {
        margin-bottom: .5em;
      }
    }
  }

  @media(max-width: $bp) {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
    gap: 20px 3%;

    dl {
      width: calc(94% / 3);
    }
  }
}

/* weather.blade.php
------------------------------------------ */
.table_weather {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid $color_text;
  th, td {
    vertical-align: middle;
    line-height: 1.4;
    @include fontsize(14);
    .text_small {
      @include fontsize(12);
    }
  }
  thead {
    th {
      background: darken($color_body_bg, 8%);
      border-bottom: none;
      margin-bottom: 0;
      border-bottom: 1px solid $color_text;
      padding: 10px 5px;
      @include fontsize(16);
      .text_small {
        @include fontsize(14);
      }
    }
  }
  tbody {
    th, td {
      padding: 7px 5px;
    }
  }

  &.now {
    th, td {
      @include fontsize(16);
      .text_small {
        @include fontsize(14);
      }
    }
    tbody {
      th, td {
        padding: 0 5px 10px;
      }
    }
  }

  &:not(.now) {
    tbody {
      th, td {
        &:not(:last-child) {
          @media(min-width: ($bp + 1px)) {
            border-right: 1px solid $color_text;
          }
        }
      }
      tr {
        @media(min-width: ($bp + 1px)) {
          &:first-child th, td {
            padding-top: 10px;
          }
          &:last-child th, td {
            padding-bottom: 10px;
          }
        }
        @media(max-width: $bp) {
          &:not(:last-child) {
            th, td {
              border-bottom: 1px solid $color_text;
            }
          }
        }
      }
    }
  }
}
